.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 9%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    background: var(--header-bg);
    color: var(--text-color);
    transition: .3s;
    gap: 3rem;
}

.footer-text span {
    color: var(--text-color);
    font-weight: 700;
    transition: .3s;
}