body {
  transition: .3s;
}

.bg-wave {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -50;
}

.wave1-white,
.wave2-white,
.wave3-white,
.wave1-black,
.wave2-black,
.wave3-black {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.wave1-white,
.wave1-black {
  background: url(./../assets/bg/wave1-white.png);
  background-size: 1000px 100px;
  height: 100px;
  opacity: 0;
  animation: wave1 20s infinite steps(1800);
}

.wave1-black {
  background: url(./../assets/bg/wave1-black.png);
  background-size: 1000px 100px;
}

.wave2-white,
.wave2-black {
  background: url(./../assets/bg/wave1-white.png);
  background-size: 1000px 80px;
  height: 80px;
  opacity: 0;
  animation: wave2 40s infinite steps(1800);
}

.wave2-black {
  background: url(./../assets/bg/wave1-black.png);
  background-size: 1000px 80px;
}

.wave3-white,
.wave3-black {
  background: url(./../assets/bg/wave1-white.png);
  background-size: 1000px 120px;
  height: 120px;
  opacity: 0;
  animation: wave3 70s infinite steps(1800);
}

.wave3-black {
  background: url(./../assets/bg/wave1-black.png);
  background-size: 1000px 120px;
}

.wave1-white.active-wave,
.wave2-white.active-wave,
.wave3-white.active-wave {
  opacity: .05;
}

.wave1-black.active-wave,
.wave2-black.active-wave,
.wave3-black.active-wave {
  opacity: .05;
}

@keyframes wave1 {
  0% {
      background-position-x: 0px;
  }

  100% {
      background-position-x: -1000px;
  }
}

@keyframes wave2 {
  0% {
      background-position-x: 0px;
  }

  100% {
      background-position-x: -1000px;
  }
}


@keyframes wave3 {
  0% {
      background-position-x: 0px;
  }

  100% {
      background-position-x: -1000px;
  }
}

.clipboard-text {
    display: flex;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #dfdfdf;
    padding: 2rem 3rem;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .2s;
    z-index: 300;
    pointer-events: none;
}

.clipboard-text.active-clipboard {
    opacity: 1;
    animation: clipboard .4s;
}

@keyframes clipboard {
    0% {
        transform: translate(-50%, 2px);
    }
    
    10% {
        transform: translate(-50%, -2px);
    }
    
    20% {
        transform: translate(-50%, 2px);
    }
    
    30% {
        transform: translate(-50%, -2px);
    }
    
    40% {
        transform: translate(-50%, 2px);
    }
    
    50% {
        transform: translate(-50%, -2px);
    }
    
    60% {
        transform: translate(-50%, 2px);
    }
    
    70% {
        transform: translate(-50%, -2px);
    }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  text-align: center;
  gap: 3rem;
  padding: 15rem 25%;
}

.lvl-info,
.lvl-records {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: var(--card-bg);
  border: 2px solid var(--input-bg);
  border-radius: 8px;
  padding: 3rem;
  align-items: center;
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, .5);
  width: 100%;
  transition: .3s;
}

.lvl-records {
  padding: 3rem 0;
}

.lvl-records h2 {
  font-size: 2.6rem;
  color: var(--text-color);
  font-weight: 800;
  transition: .3s;
}

.lvl-info__name {
  color: var(--text-color);
  font-size: 3.4rem;
  font-weight: 800;
  transition: .3s;
}

.lvl-info__box {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
  gap: 5rem;
}

.lvl-info__h2 {
  line-height: 2;
}

.lvl-info__creator,
.lvl-info__verificator,
.lvl-info__percentage {
  color: var(--text-color);
  transition: .3s;
}

.lvl-info__creator span,
.lvl-info__verificator span,
.lvl-info__percentage span {
  color: var(--text-color);
  font-size: 1.6rem;
  opacity: .8;
  margin-right: 1rem;
  font-weight: 600;
  transition: .3s;
}

.lvl-info__box1,
.lvl-info__box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .9rem;
  background: var(--bg-color);
  border: 2px solid var(--input-bg);
  color: var(--text-color);
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: .3s;
  width: 100%;
  height: 100%;
}

.box p {
    font-size: 1.8rem;
    font-weight: 400;
}

.lvl-info__id-box {
  padding: 1rem 4rem;
  z-index: 2;
  cursor: pointer;
}

.lvl-info__id-box p {
    color: var(--main-color);
    transition: .3s;
}

.lvl-info__pass-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: .9rem;
}

.lvl-records__body {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.lvl-records__body tr th,
.lvl-records__body tr td {
  font-size: 2rem;
  color: var(--text-color);
  transition: .3s;
}

.lvl-records__body tr td {
  font-weight: 600;
}

.lvl-records__proof a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.proof {
  display: flex;
  background: var(--main-color);
  border: 2px solid var(--main-color);
  padding: .5rem;
  font-size: 4rem;
  border-radius: 8px;
  color: var(--white);
  align-items: center;
  justify-content: center;
  transition: .3s;
}

@media (hover: hover) {
  .proof:hover {
    background: transparent;
    color: var(--main-color);
  }
}

table {
  border-collapse: collapse;
  border: none;
  outline: none;
}

table tr th span {
  opacity: 0;
}

tr:nth-child(1) {
  background: var(--input-bg);
  transition: .3s;
}

tr:not(:nth-child(1)) {
    border-bottom: 2px solid var(--input-bg);
}

td.link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lvl-info__btn-box {
  display: flex;
  gap: 3rem;
}

.btn {
  background: var(--black);
  border: 2px solid var(--black);
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: .3s;
}

@media (hover: hover) {
  .btn:hover {
    background: transparent;
    color: var(--black);
  }
}

.box {
    height: 100%;
}

.lvl-records {
    min-height: 100%;
}

.lvl-records table tr td,
.lvl-records table tr th {
    padding: 2rem 0;
}

.box h2 {
  font-size: 2rem;
  font-weight: 700;
}

.unknown-video {
  display: flex;
  width: 300px;
  height: 168px;
  background: rgba(0, 0, 0, .3);
  border: 2px solid rgba(0, 0, 0, .35);
  color: var(--black);
  font-weight: 600;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

/* Breakpoints */

@media (max-width: 991px) {
  .container {
    padding: 15rem 15%;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 15rem 10%;
    gap: 2.5rem;
  }

  .lvl-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .lvl-info__box {
    gap: 3rem;
  }

  .lvl-info__name {
    font-size: 2.5rem;
  }

  .lvl-info__creator {
    font-size: 1.9rem;
  }

  .box h2 {
    font-size: 1.7rem;
  }

  .box p {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.7rem;
  }

  .lvl-records table tr td,
  .lvl-records table tr th {
    padding: 1rem 0;
  }

  .lvl-records__proof a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
  }
  
  .proof {
    display: flex;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    padding: .35rem;
    font-size: 2.8rem;
    border-radius: 8px;
    color: var(--white);
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15rem 6%;
  }
}

@media (max-width: 568px) {
  .lvl-info__percentage,
  .lvl-info__percentage span {
    font-size: 1.5rem;
  }
}

@media (max-width: 524px) {
  .lvl-info__percentage,
  .lvl-info__percentage span {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 15rem 4%;
  }

  .lvl-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .lvl-info__box {
    gap: 2rem;
  }

  .lvl-info__name {
    font-size: 2rem;
  }

  .lvl-info__creator {
    font-size: 1.7rem;
  }

  .box {
    padding: .7rem 1.7rem;
  }

  .box h2 {
    font-size: 1.5rem;
  }

  .box p {
    font-size: 1.3rem;
  }
}

@media (max-width: 420px) {
  .lvl-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .lvl-info__box {
    gap: 1rem;
  }

  .lvl-info__creator {
    font-size: 1.4rem;
  }

  .lvl-info__verificator {
    font-size: 1.4rem;
  }

  .box {
    padding: .5rem 1.5rem;
  }

  .box h2 {
    font-size: 1.4rem;
  }

  .box p {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: .7rem 1.1rem;
  }

  .lvl-info__percentage,
  .lvl-info__percentage span {
    font-size: 1.1rem;
  }

  .lvl-records h2 {
    font-size: 2rem;
    padding: .1rem 0;
  }

  .lvl-records table tr td,
  .lvl-records table tr th {
    padding: .7rem 0;
    font-size: 1.5rem;
  }

  .lvl-records__proof a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9rem;
    height: 1.9rem;
  }
  
  .proof {
    display: flex;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    padding: .35rem;
    font-size: 1.9rem;
    border-radius: 8px;
    color: var(--white);
    align-items: center;
    justify-content: center;
    transition: .3s;
  }

  .lvl-info iframe {
    width: 200px;
    height: 112.5px;
  }

  .unknown-video {
    width: 200px;
    height: 112.5px;
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  .box {
    padding: .4rem 1rem;
  }

  .box h2 {
    font-size: 1.2rem;
  }

  .box p {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1.3rem;
    padding: .6rem 1rem;
  }

  .lvl-info__percentage,
  .lvl-info__percentage span {
    font-size: .9rem;
  }

  .lvl-info__box1,
  .lvl-info__box2 {
    display: flex;
    gap: .7rem;
  }
}