.wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(3px);
    z-index: 400;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.popup {
    display: flex;
    flex-direction: column;
    background: var(--header-bg);
    border-radius: 8px;
    padding: 5rem;
    text-align: center;
    gap: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transform: scale(.9);
    transition: .3s;
    color: var(--text-color);
}

.popup .close {
    display: flex;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 3rem;
    background: #fff;
    color: #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
}

.popup-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.popup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 8px;
    font-size: 2rem;
    width: 100%;
    color: #000;
    font-weight: 700;
    transition: color .3s, background .3s;
}

@media (hover: hover) {
    .popup-link:hover {
        background: transparent;
        color: var(--black);
    }
}

.popup-title {
    color: var(--black);
    font-size: 3rem;
    transition: color .3s;
}